
.fp-body {
	background-image: url(../img/hero1.jpg);
	background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.enter-row {
  position: absolute;
  top: 85vh;
  min-width: 80vw;
  margin-left: 10vw;
}

.banner-row {
  position: absolute;
  top: 5vh;
  width: 100vw;
  padding-left: 15vw;
  padding-right: 15vw;
  vertical-align: middle;
}


.tracy-matt {
  margin-top: 10%;
}

@media (min-width: 600px) {
  .fp-body {
    background-image: url(../img/fphero.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  
  .enter-row {
    position: absolute;
    right: 20vw;
    top: 85vh;
    display: block;
    min-width: 30vw;
  }
  
  .banner-row {
    position: absolute;
    right: 20vw;
    top: 10vh;
    width: 30vw;
    padding: 0;
  }
}

@media (min-width: 1420px) {
  .fp-body {
    background-position: center center;
  }
}

.enter-button {
  border-width: 2px;
  border-color: $primary-color;
  background-color: transparent;
  opacity: 90%;
  color: $primary-color;
}

.tm-top {
	margin-bottom: rem-calc(30);
}

@media (max-width: 600px) {
	.tm-top {
		padding-top: rem-calc(50);
	}
}

.inline-list a {
	font-weight: $font-weight-bold;
}

.deck {
	font-style: italic;
	line-height: rem-calc(28);
	font-size: rem-calc(30);
}

.tm-button {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}

.bottom-pad {
	padding-top: rem-calc(100);
	padding-bottom: rem-calc(100);
}

.list-deck {
	font-style: normal;
	line-height: rem-calc(10);
	font-size: rem-calc(20);
}

.selected {
	text-decoration: underline;
}

.rsvp-margin {
  margin-bottom: rem-calc(10);
}

.r-buttons {
  width: 100%;
}