.fp-body {
  background-image: url(../images/TracyMatt-096.jpg);
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
}

.tracy-matt {
  margin-top: 10%;
}

.enter-row {
  margin-top: 220% !important;
}

.enter-button {
  border-width: 2px;
  border-color: black;
  background-color: transparent;
  opacity: 90%;
  color: black;
}

.tm-top {
	margin-bottom: rem-calc(30);
}

.inline-list a {
	font-weight: $font-weight-bold;
}

.deck {
	font-style: italic;
	line-height: rem-calc(28);
	font-size: rem-calc(30);
}