.fp-body {
  background-image: url(../img/fphero.jpg);
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
	.fp-body {
		background-image: url(../img/hero1.jpg);
	}
}

.tracy-matt {
  margin-top: 10%;
}

.enter-row {
  margin-top: 150% !important;
}

@media (max-width: 600px) {
	.enter-row {
		margin-top: 200%;
	}
}

.enter-button {
  border-width: 2px;
  border-color: $primary-color;
  background-color: transparent;
  opacity: 90%;
  color: $primary-color;
}

.tm-top {
	margin-bottom: rem-calc(30);
}

@media (max-width: 600px) {
	.tm-top {
		padding-top: rem-calc(50);
	}
}

.inline-list a {
	font-weight: $font-weight-bold;
}

.deck {
	font-style: italic;
	line-height: rem-calc(28);
	font-size: rem-calc(30);
}

.tm-button {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}

.bottom-pad {
	padding-top: rem-calc(100);
	padding-bottom: rem-calc(100);
}

.list-deck {
	font-style: italic;
	line-height: rem-calc(20);
	font-size: rem-calc(20);
}